@model Employee

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="text-primary">
                Add Employee
            </h2>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="row my-2 px-lg-4 px-md-3">
                    <label asp-for="FirstName" class="my-2"></label>
                    <input asp-for="FirstName" class="form-control" />
                </div>
                <div class="row my-2 px-lg-4 px-md-3">
                    <label asp-for="LastName" class="my-2"></label>
                    <input asp-for="LastName" class="form-control" />
                </div>
                <div class="row my-2 px-lg-4 px-md-3">
                    <label asp-for="DateOfBirth" class="my-2"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                </div>
                <div class="row my-2 px-lg-4 px-md-3">
                    <label asp-for="Gender" class="my-2"></label>
                    <select asp-for="Gender" class="form-control">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="row my-2 px-lg-4 px-md-3">
                    <label asp-for="Email" class="my-2"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="row my-2 px-lg-4 px-md-3">
                    <label asp-for="PhoneNumber" class="my-2"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                </div>
                <div class="row my-2 px-lg-4 px-md-3">
                    <label asp-for="City" class="my-2"></label>
                    <input asp-for="City" class="form-control" />
                </div>
                <div class="row my-2 px-lg-4 px-md-3">
                    <label asp-for="StreetAddress" class="my-2"></label>
                    <input asp-for="StreetAddress" class="form-control" />
                </div>
                <div class="row my-2 px-lg-4 px-md-3">
                    <label asp-for="IDNumber" class="my-2"></label>
                    <input asp-for="IDNumber" class="form-control" />
                </div>
                <div class="row my-4 align-content-center justify-content-center">
                    <div class="btn-group w-75 align-content-center justify-content-center">
                        <button type="submit" class="btn btn-secondary mx-2">
                            Add Employee
                        </button>
                        <a asp-action="Index" class="btn btn-outline-secondary mx-2">
                            Go Back To List
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>