@model FlightEmployeeVM

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="text-primary">
                Edit Assignment
            </h2>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="row my-2 px-lg-4 px-md-3">
                    <label asp-for="FlightList" class="my-2"></label>
                    <select asp-for="FlightEmployee.FlightId" asp-items="@Model.FlightList" class="form-control" required>
                        <option disabled selected>--Select Flight--</option>
                    </select>
                </div>
                <div class="row my-2 px-lg-4 px-md-3">
                    <label asp-for="EmployeeList" class="my-2"></label>
                    <select asp-for="FlightEmployee.EmployeeId" asp-items="@Model.EmployeeList" class="form-control" required>
                        <option disabled selected>--Select Employee--</option>
                    </select>
                </div>
                <div class="row my-2 px-lg-4 px-md-3">
                    <label asp-for="FlightEmployee.JobRole" class="my-2"></label>
                    <input asp-for="FlightEmployee.JobRole" class="form-control" />
                </div>
                <div class="row my-4 align-content-center justify-content-center">
                    <div class="btn-group w-75 align-content-center justify-content-center">
                        <button type="submit" class="btn btn-secondary mx-2">
                            Edit Assignment
                        </button>
                        <a asp-action="Index" class="btn btn-outline-secondary mx-2">
                            Go Back To List
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>